.animal-file{
    display:flex;
    flex-direction: column;
    align-items: center;
}
button{
    padding:10px;
    background-color: aquamarine;
    border-radius: 3px;
    color:black;

}
.animal-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.animal-show{
    position: relative;
    border:1px solid gray;
    padding:10px;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 3px 4px lightgrey;
}
.animal{
    width:200px;
}
.heart{
    position:absolute;
    bottom:10%;
    right: 10%;
}